<%= link_to "home", home_path %> > <%= link_to "yasmin", yasmin_path %>
<h1>ConnectedIn</h1>
<h3>Come and meet some people... and stuff</h3>
<%= link_to image_tag(@student[:picture_url], :width => 200), home_path %>
<br />
<br />
<%= @student[:name] %>
<br />
<%= @student[:description] %>
<br />
<%= @student[:city] %>
<br />
<%= @student[:path] %>